<div>
    <div class="field">
        <label class="label">Leave a comment:</label>
        <div class="control">
            <textarea class="textarea" placeholder="Leave a comment" id="comment"></textarea>
        </div>
        <button id="new-comment" type="submit" class="btn btn-primary">Submit Comment</button>
    </div>
</div>